<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CountingRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CountingRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ResultsPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <CountingRules.Properties.Settings>
      <setting name="IsAverageLengthofWordsStartingwithLetterApplicable"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCountCharsinWordsStartingWithLetterApplicable"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsLongestWordStartingwithLetterApplicable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCountSequenceOfWordsStartingWithLettersApplicable"
        serializeAs="String">
        <value>True</value>
      </setting>
    </CountingRules.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <CountingRules.Properties.Settings>
      <setting name="AverageLengthofWordsStartingwithLetterResultFile"
        serializeAs="String">
        <value>average_length_of_words_starting_with_a</value>
      </setting>
      <setting name="CountCharsinWordsStartingWithLetterResultFile"
        serializeAs="String">
        <value>count_of_e_in_words_starting_with_b</value>
      </setting>
      <setting name="LongestWordStartingwithLetterResultFile" serializeAs="String">
        <value>longest_words_starting_with_abc</value>
      </setting>
      <setting name="CountSequenceOfWordsStartingWithLettersResultFile"
        serializeAs="String">
        <value>count_of_sequence_of_words_starting_withs_c_and_a</value>
      </setting>
    </CountingRules.Properties.Settings>
  </applicationSettings>
</configuration>